@font-face {
  font-family: "Ubuntu";
  src: url("../static/fonts/ubuntu-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../static/fonts/ubuntu-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../static/fonts/ubuntu-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../static/fonts/ubuntu-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}